<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="/images/logo.png" alt="" id="logoNav"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if(session && session.cliente) { %>
          <li class="nav-item">
            <p class="nav-link"><%= session.cliente.nombre %></p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/carro-de-compra">Ver el carrito <i class="bi bi-cart-fill" style="font-size: 1rem;"> </i><span class="badge bg-primary"><%=(session.carro) ? session.carro.length : 0 %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ver-lista">Wishlist <i class="bi bi-list-stars" style="font-size: 1rem;"> </i><span class="badge bg-primary"><%=(session.lista) ? session.lista.length : 0 %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ordenes">Ver Mis Ordenes <i class="bi bi-card-checklist" style="font-size: 1rem;"> </i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cerrar-sesion">Cerrar Sesion</a>
          </li>
          <% }else if(session && session.admin){%>
            <li class="nav-item">
              <a class="nav-link" href="/admin/index">Principal <i class="bi bi-house-door-fill"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/clientes">Clientes <i class="bi bi-person-fill"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/administradores">Administradores <i class="bi bi-person-badge-fill"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">Dashboard <i class="bi bi-card-list"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/cerrar-sesion">Cerrar Sesion</a>
            </li>
            
          <% } %>
        </ul>
      </div>
    </div>
  </nav>