<div class="row containerC">
    <h1 class="text-center">Resumen</h1>
    <h5 class="text-center">El numero Total de clientes es : <%= clientes %></h5>
    <h5 class="text-center">El numero Total de ordenes es : <%= ordenes %></h5>
    <h5 class="text-center">El numero Total de administradores es : <%= admins %></h5>
    <h5 class="text-center">El numero Total de fotos es : <%= Fotos %></h5>
</div>