<div class="containerC" >
    <div class="mx-auto">
      <h1 class="text-center">Tu foto.com - Admin</h1>
      <p class="text-center">Las mejores fotos a los mejores precios con tus fotos preferidas</p>
      <% flash.get('men').forEach( function(msg){ %> 
        <div>
          <p class="text-center exito"><%= msg%></p>
        </div>
        <% }) %>
    </div> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <% fotos.forEach( foto =>{ %>
            <tr>
                <td><%= foto.id %></td>
                <td><img src="<%= foto.contenido %>" alt="" class="imagen"></td>
                <td><%= foto.precio %></td>
            </tr>
            <%})%>
        </tbody>
    </table>
    <a href="/admin/agregar-foto" class="btn btn-primary">Agregar una foto </a>
</div>
           
   <br>
   <br>