<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Acerca de Nosotros</h1>
            <p class="text-center">Somos una compañia que se encarga de distribuir fotos de todo tipo para todos por todo el mundo</p>
            <p class="text-center">Nuestra mision es proporcionarte fotos de calidad al alcance de un click</p>
            <div class="mx-auto" style="width: 200px;">
                <img src="/images/logo.png" alt="" class="text-center">
              </div>
        </div>
    </div>
    
</div>