<div class="container" id="carr">
  <div class="mx-auto">
    <h1 class="text-center">Tu foto.com</h1>
    <p class="text-center">Las mejores fotos a los mejores precios con tus fotos preferidas</p>
    <% flash.get('men').forEach( function(msg){ %> 
      <div>
        <p class="text-center exito"><%= msg%></p>
      </div>
      <% }) %>
  </div> 
    <div class="row" > 
      <% fotos.forEach(foto =>{ %> 
      <div class="col-lg-4 col-sm-12 carta" >
        <div class="card" >
          <img src= "<%= foto.contenido %>"  class="d-block w-100 imagenI">
          <div class="card-body">
            <h5 class="card-title"> $ <%= foto.precio %></h5>
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>
        
      </div>
            
      <% }) %>
    </div>
         
 <br>
 <br>